extends ../layouts/default

block main
  h3
    a(href="/sections/" + section.slug + "/chapters/" + chapter.slug) #{chapter.title}

block content
  
  .row-fluid
    .span9
      .vis-content
        != visualization.content
    .span3
      h4= visualization.title
      p= visualization.description

      - if (prevPage)
        a(href="/sections/" + section.slug + "/chapters/" + chapter.slug + "/visualizations/" + prevPage.slug) Prev
      - else
          a(href="/sections/" + section.slug + "/chapters/" + chapter.slug) Prev

      - if (nextPage)
        a(href="/sections/" + section.slug + "/chapters/" + chapter.slug + "/visualizations/" + nextPage.slug) Next
      - else
        - if (nextChapter)
          a(href="/sections/" + section.slug + "/chapters/" + nextChapter.slug) Next

      hr
      .vis-legend
        != visualization.legend

  p
    br
    form.center.form-inline.confirm(action='/sections/' + section.slug + '/chapters/' + chapter.slug + "/visualizations/"+visualization.slug, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      a.btn(href='/sections/' + section.slug + '/chapters/' + chapter.slug + '/visualizations/'+visualization.slug+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete


  script.
    window.addEventListener('load', function(){
      d3.select("svg")
      .call(d3.behavior.zoom().scaleExtent([1,10]).on("zoom", zoom))

      function zoom() {
        d3.select("svg").selectAll("g").attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
      }

    })