extends ../layouts/default

block main
  h3= title

block content
  - if (sections.length)
    - each section in sections
      .section
        h5
          a(href='/sections/'+section.slug, title=section.title) #{section.title}
        p= section.body

  - else
    p.muted No sections.&nbsp;
  
  a.btn.btn-success(href="/sections/new") Create one
