extends ../layouts/default

block main
  ul.breadcrumb
    li
      a(href="/") Home 
      span.divider /
    li.active Sections
  h3= title + ' '
    span(class='btn-group')
      a.btn.btn-small.btn-success(href="/sections/new") New
  hr

block content
  - if (sections.length)
    .row-fluid
      - each section in sections
        .span6
          .thumbnail
            .caption
              h3
                a(href='/sections/'+section.slug, title=section.title) #{section.title}
              p= section.description

  - else
    p.muted No sections.&nbsp;
